version: '3.7'
services:
  service1:
    build: ./service1
    environment: 
      SQLALCHEMY_DATABASE_URI: mysql+pymysql://root:11@mysql:3306/player_db
    image: aaboungab/service1:s1
    container_name: s1_container
    deploy:
      replicas: 3
    ports:
    - target: 5000
      published: 5000
      protocol: tcp
  database:
    image: aaboungab/mysql:latest 
    container_name: mysql
    environment:
      MYSQL_DATABASE: player_db
      MYSQL_ROOT_PASSWORD: 11
    ports:
    - target: 3306
      published: 3306
    volumes:
      - type: volume
        source: mysql
        target: /var/lib/mysql
    healthcheck:
      test: mysqladmin ping -h localhost --password=${PASS} 
      timeout: 60s
      retries: 10
  service2:
    build: ./service2
    image: aaboungab/service2:s2
    container_name: s2_container
    deploy:
      replicas: 3
    ports:
    - target: 5001
      published: 5001
      protocol: tcp
  service3:
    build: ./service3
    image: aaboungab/service3:s3
    container_name: s3_container
    deploy:
      replicas: 3
    ports:
    - target: 5002
      published: 5002
      protocol: tcp
  service4:
    build: ./service4
    image: aaboungab/service4:s4
    container_name: s4_container
    deploy:
      replicas: 3
    ports:
    - target: 5003
      published: 5003
      protocol: tcp
  nginx:
    image: aaboungab/nginx:latest
    ports:
    - target: 80
      published: 80
      protocol: tcp
    volumes:
    - type: bind
      source: ./nginx/nginx.conf
      target: /etc/nginx/nginx.conf
    depends_on:
    - 'service1'
volumes:
  mysql: