<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W9Project</title>
</head>
<body style="background-image: linear-gradient(#a9a8c0, #e0c0e7);height: 1000px;">
<center>
    <div>
        <h1 style="font-family: monospace;">Football Player Generator</h1>
    </div>
    <br><br>
    <div>
     
    <div>
        <h1 style="font-family: monospace;"> Your player is {{ name }}, they play in the {{ position }} position for {{ team }}</h1>
    </div>
    <br><br>
            <div><a href="{{ url_for('index')}}"><button style="
            font-size: xxx-large;
            padding: 14px 40px;
            background-color: initial;
            font-variant-caps: petite-caps;
            font-family: monospace;">
                Generate</button></div></a>

    </div>
    
</center>
</body>
</html>