- name: "Initialise the Swarm"
  community.general.docker_swarm:
    state: present
- name: "Get Swarm info"
  community.general.docker_swarm_info:
  register: swarm_info
- debug:
    msg: "Swarm Info: {{ swarm_info }}"
- name: "Get worker token"
  add_host:
    name: "token"
    value: "{{ swarm_info['swarm_facts']['JoinTokens']['Worker'] }}"